/*global*/
body {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #ffffff;

  background-color: #849d8f;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-right: 27px;
  padding-left: 27px;
}

/*dropdown*/
.dropdown {
  position: absolute;
  top: 40px;
  right: 0;

  display: none;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #323232;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.input {
  height: 44px;
  padding: 8px 15px 8px 15px;

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #999999;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
}


/*button*/
.button {
  display: inline-block;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  vertical-align: middle;
  color: #ffffff;
  text-decoration: none;

  background-color: #f06441;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  border: none;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}




/*main-nav*/
.main-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}




/*site-list*/
.site-list {
  display: flex;
  margin-right: auto;

  list-style: none;
}

.site-list__item {
  position: relative;
}

.site-list__item:hover > .dropdown,
.site-list__item:focus-within > .dropdown {
  display: block;
}

.site-list__link {
  display: block;
  padding: 9px 13px;

  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}

.site-list__link::after {
  content: "";

  display: block;
  height: 1px;

  background-color: #ffffff;
  opacity: 0.2;
}

.site-list__link:hover,
.site-list__link:focus {
  color: #323232;

  background-color: #f7f6f3;
}

.site-list__link--active,
.site-list__link--active:hover,
.site-list__link--active:focus,
.site-list__link--active:active {
  color: #ffffff;

  background-color: #d07058;
}




/*sub-nav*/
.sub-nav {
  width: 143px;
  padding: 0;

  list-style: none;
}

.sub-nav__item:first-child::after {
  content: "";

  display: block;
  width: 128px;
  height: 1px;
  margin: 3px auto;

  background-color: #d3d3d2;
}

.sub-nav__item:first-child .sub-nav__link {
  font-weight: 700;
}

.sub-nav__link {
  display: block;
  padding: 8px 20px;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  text-decoration: none;
}

.sub-nav__link:hover,
.sub-nav__link:focus {
  background-color: #fbded7;
}

.sub-nav__link:active {
  background-color: #f6b5a5;
}




/*user-list*/
.user-list {
  display: flex;

  list-style: none;
}

.user-list__item {
  position: relative;

  margin-left: 10px;
}

.user-list__item:hover > .dropdown,
.user-list__item:focus-within > .dropdown {
  display: block;
}

.user-list__link {
  display: block;
  position: relative;
  padding: 9px 13px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;

  background-color: rgba(255,255,255,0.2);
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.user-list__link--search {
  width: 33px;
  height: 33px;

  border-radius: 50px;
}

.user-list__link:hover {
  color: #323232;

  background-color: #f7f6f3;
}

.user-list__link--full-basket {
  color: #323232;

  background-color: #f8f7f4;
}




/*search-form*/
.search-form {
  width: 341px;
  padding: 20px 15px;
}

.search-form__input {
  width: 100%;
}




/*login-form*/
.login-form {
  width: 277px;
  padding: 20px 17px 20px 19px;
}

.login-form__field {
  margin: 0;
  padding: 0;

  border: none;
}

.login-form__items {
  padding: 0;

  list-style: none;
}

.login-form__item:last-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login-form__input {
  width: 100%;
}

.login-form__account {
  width: 120px;
}




/*basket*/
.basket {
  display: none;
}




/*page-header*/
.page-header__working-time {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.page-header__phone-number {
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}



/*slider*/
.slider__list {
  list-style: none;
}

.slider__title {
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  color: #ffffff;
}

.slider__button {
  font-size: 32px;
  line-height: 44px;
}


/*breadcrumbs*/
.breadcrumbs {
  list-style: none;
}

.breadcrumbs__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs__link:hover,
.breadcrumbs__link:focus,
.breadcrumbs__link:active {
  color: #ffbc9e;
}

.breadcrumbs__link--active:hover,
.breadcrumbs__link--active:focus,
.breadcrumbs__link--active:active {
  color: #ffffff;
}


.main__title {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}


/*filters*/
.filters {
  display: none;
}
.filters-form__filter {
  border: none;
}
.filters-form__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.filters-form__field {
  list-style: none;
}
.filters-form__label {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

/*offer*/
.offer__list {
  list-style: none;
}

.offer__item--raspberry {
  background-color: #140106;
  background-image: url("../img/raspberry-bg.jpg");
}

.offer__item--chocolate {
  background-color: #30170d;
  background-image: url("../img/chocolate-bg.jpg");
}

.offer__title {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

.offer__description {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}


/*products*/

.product {
  list-style: none;
}

.product__name {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.product__link {
  color: #ffffff;
  text-decoration: none;
}

.product__link:hover,
.product__link:focus {
  color: #ffbc9e;
}

.product__price {
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
}

.product__amount {
  font-size: 30px;
}


/*advantages*/

.advantages {
  background-color: #ece0ca;
  background-image: url("../img/waffle-bg.jpg");
}

.advantages__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}

.advantages__list {
  list-style: none;
  color: #323232;
}

.advantages__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}


/*advert*/

/*article-note*/
.article-note {
  background-color: #ffffff;
  background-image: url("../img/article-note-bg.jpg");
}

.article-note__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
}

.article-note__preview {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  text-decoration: underline;
}

.article-note__preview:hover,
.article-note__preview:focus,
.article-note__preview:active {
  color: #e84d37;
}



/*subscribe*/
.subscribe {
  background-image: url("../img/bg-post.svg");
}

.subscribe__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
}


/*contacts*/
.contacts__address {
  color: #323232;

  background-color: #fcfdfe;
}

.contacts__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.contacts__description {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.contacts__phone {
  color: #323232;
  text-decoration: none;
}

/*pagination*/
.pagination {
  list-style: none;
}

.pagination__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}

/*social-links*/
.social-links__list {
  list-style: none;
}

.social-links__link {
  display: block;
  width: 32px;
  height: 32px;

  font-size: 0;

  background-size: cover;
  border: 2px solid #c1cec7;
  border-radius: 50%;
  opacity: 0.8;
}

.social-links__link:hover,
.social-links__link:focus {
  opacity: 1;
}

.social-links__link:active {
  opacity: 0.8;
}

.social-links__link--twitter {
  background-image: url("../img/twitter.svg");
}

.social-links__link--instagram {
  background-image: url("../img/instagram.svg");
}

.social-links__link--facebook {
  background-image: url("../img/fb.svg");
}

.social-links__link--vkontakte {
  background-image: url("../img/vk.svg");
}


/*footer-nav*/
.footer-nav {
  list-style: none;
}

.footer-nav__link {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}

.footer-nav__link:hover,
.footer-nav__link:focus,
.footer-nav__link:active {
  color: #ffbc9e;
}

.footer-nav__link--favorite {
  font-weight: 700;
}


/*footer-copyright*/

.footer-copyright__develop {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #fefefe;
}

.footer-copyright__link {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #fefefe;
  text-decoration: none;
}



/*pop-up*/
.pop-up {
  display: none;
}
