/*global*/
body {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #ffffff;

  background-color: #849d8f;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-right: 27px;
  padding-left: 27px;
}

.container--contacts {
  position: relative;

  padding: 0;
}

.container--products {
  padding: 0 12px;
}

/*dropdown*/
.dropdown {
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 100;

  display: none;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #323232;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.dropdown::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  z-index: 100;

  width: 100%;
  height: 7px;
}

.input {
  height: 44px;
  padding: 8px 15px 8px 15px;

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #999999;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
}


/*button*/
.button {
  display: inline-block;
  padding: 10px 20px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  vertical-align: middle;
  color: #ffffff;
  text-decoration: none;

  background-color: #f06441;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  border: none;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}



/*page-header*/
.page-header--index {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}
.page-header__wrapper {
  position: relative;
}

.page-header__contacts {
  position: absolute;
  top: 70px;
  right: 25px;
}

.page-header__working-time {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.page-header__phone-number {
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}




/*main-nav*/
.main-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}




/*site-list*/
.site-list {
  display: flex;
  margin-right: auto;

  list-style: none;
}

.site-list__item {
  position: relative;
}

.site-list__item:hover > .dropdown,
.site-list__item:focus-within > .dropdown {
  display: block;
}

.site-list__link {
  display: block;
  padding: 9px 13px;

  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}

.site-list__link::after {
  content: "";

  display: block;
  height: 1px;

  background-color: #ffffff;
  opacity: 0.2;
}

.site-list__link:hover,
.site-list__link:focus {
  color: #323232;

  background-color: #f7f6f3;
}

.site-list__link--active,
.site-list__link--active:hover,
.site-list__link--active:focus,
.site-list__link--active:active {
  color: #ffffff;

  background-color: #d07058;
}




/*sub-nav*/
.sub-nav {
  width: 143px;
  padding: 0;

  list-style: none;
}

.sub-nav__item:first-child::after {
  content: "";

  display: block;
  width: 128px;
  height: 1px;
  margin: 3px auto;

  background-color: #d3d3d2;
}

.sub-nav__item:first-child .sub-nav__link {
  font-weight: 700;
}

.sub-nav__link {
  display: block;
  padding: 8px 20px;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  text-decoration: none;

  cursor: pointer;
}

.sub-nav__link:hover,
.sub-nav__link:focus-within {
  background-color: #fbded7;
}

.sub-nav__link:active {
  background-color: #f6b5a5;
}




/*user-list*/
.user-list {
  display: flex;

  list-style: none;
}

.user-list__item {
  position: relative;

  margin-left: 10px;
}

.user-list__item:hover > .dropdown,
.user-list__item:focus-within > .dropdown {
  display: block;
}

.user-list__link {
  position: relative;

  display: block;
  padding: 9px 13px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;

  background-color: rgba(255,255,255,0.2);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.user-list__link--search {
  width: 33px;
  height: 33px;

  border-radius: 50px;
}

.user-list__link:hover {
  color: #323232;

  background-color: #f7f6f3;
}

.user-list__link--full-basket {
  color: #323232;

  background-color: #f8f7f4;
}




/*search-form*/
.search-form {
  width: 341px;
  padding: 20px 15px;
}

.search-form__input {
  width: 100%;
}




/*login-form*/
.login-form {
  width: 277px;
  padding: 20px 17px 20px 19px;
}

.login-form__field {
  margin: 0;
  padding: 0;

  border: none;
}

.login-form__items {
  padding: 0;

  list-style: none;
}

.login-form__item:last-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login-form__input {
  width: 100%;
}

.login-form__account {
  width: 120px;

  text-align: right;
}

.login-form__link {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #323232;
}




/*basket*/
.basket {
  display: none;
}




/*slider*/
.slider__list {
  min-height: 600px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider__item {
  position: relative;

  display: none;
  padding-top: 370px;

  text-align: center;
}

.slider__item--active {
  display: block;
}

.slider__title {
  width: 675px;
  margin: 0 auto;

  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  color: #ffffff;
}

.slider__image {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;

  margin: 0 auto;
}

.slider__button {
  font-size: 32px;
  line-height: 44px;
}

.slider__control {
  display: flex;
}

.slider__toggle {
  display: block;
  width: 21px;
  height: 21px;
  margin-right: 8px;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50px;
  cursor: pointer;
}

.slider__toggle:hover,
.slider__toggle:focus {
  background-color: rgba(255, 255, 255, 0.4);
}

.slider__toggle:active {
  background-color: #ffffff;
}

.slider__toggle--active,
.slider__toggle--active:hover,
.slider__toggle--active:focus {
  background-color: #ffffff;
}




/*breadcrumbs*/
.breadcrumbs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.breadcrumbs__item:not(:last-child)::after {
  content: "»";

  margin-right: 7px;
  margin-left: 7px;
}

.breadcrumbs__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs__link:hover,
.breadcrumbs__link:focus,
.breadcrumbs__link:active {
  color: #ffbc9e;
}

.breadcrumbs__link--active:hover,
.breadcrumbs__link--active:focus,
.breadcrumbs__link--active:active {
  color: #ffffff;
}


.main__title {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}




/*filters-form*/
.filters {
  display: none;
}

.filters-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.filters-form__filter {
  border: none;
}

.filters-form__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.filters-form__field {
  list-style: none;
}

.filters-form__label {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}




/*offer*/
.offer__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.offer__item {
  position: relative;

  width: 560px;
  min-height: 230px;
  padding: 20px;

  border-radius: 15px;
}

.offer__item--raspberry {
  background-color: #140106;
  background-image: url("../img/raspberry-bg.jpg");
}

.offer__item--chocolate {
  background-color: #30170d;
  background-image: url("../img/choсolate-bg.jpg");
}

.offer__title {
  margin: 0 0 15px;

  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

.offer__description {
  margin: 0 0 45px;

  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.offer__button {
  position: absolute;
  right: 30px;
  bottom: 20px;
}




/*products*/
.product {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;

  list-style: none;
}

.product__item {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 293px;
  margin-bottom: -50px;
  padding: 6px 13px 22px;
}

.product__item::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 15px;

  width: 61px;
  height: 61px;

  background-image: url("../img/hit.svg");
}

.product__item:hover,
.product__item:focus-within {
  z-index: 10;

  background-color: rgba(248, 247, 244, 0.2);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.product__item:hover .product__button {
  visibility: visible;
}

.product__item:focus-within .product__button {
  visibility: visible;
}

.product__name {
  width: 250px;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.product__link {
  color: #ffffff;
  text-decoration: none;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.product__photo {
  order: -1;

  border-radius: 50%;
}

.product__link:hover,
.product__link:focus {
  color: #ffbc9e;
}

.product__price {
  position: absolute;
  top: 215px;
  left: 12px;

  margin: 0;

  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
}

.product__amount {
  font-size: 30px;
}

.product__button {
  visibility: hidden;
}




/*advantages*/
.advantages__wrapper {
  margin-bottom: 40px;
  padding: 20px;

  background-color: #ece0ca;
  background-image: url("../img/waffle-bg.jpg");
  background-repeat: repeat;
  border-radius: 15px;
}

.advantages__title {
  margin: 0;

  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}

.advantages__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
  color: #323232;
}

.advantages__item {
  position: relative;

  width: 530px;
  margin-top: 20px;
  padding-left: 55px;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.advantages__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 49px;
  height: 49px;
}

.advantages__item--product::before {
  background-image: url("../img/ice-cream.svg");
}

.advantages__item--company::before {
  background-image: url("../img/cow.svg");
}

.advantages__item--ingredients::before {
  background-image: url("../img/eco.svg");
}

.advantages__item--delivery::before {
  background-image: url("../img/thermometer.svg");
}




/*advert*/
.advert {
  margin-bottom: 40px;
}
.advert__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.advert__item {
  width: 560px;
  min-height: 220px;

  border-radius: 15px;
}
/*article-note*/
.article-note {
  padding: 23px 20px;

  color: #323232;

  background-color: #ffffff;
  background-image: url("../img/article-note-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.article-note__title {
  margin: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
}

.article-note__inner {
  width: 285px;
}

.article-note__preview {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  text-decoration: none;

  box-shadow: inset 0 -3px white,
  inset 0 -5px #323232;
}

.article-note__preview:hover,
.article-note__preview:focus,
.article-note__preview:active {
  color: #e84d37;
}



/*subscribe*/
.subscribe {
  padding: 5px;

  background-image: url("../img/bg-post.svg");
}

.subscribe__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 20px 35px;

  background-color: #f8f7f4;
  border-radius: 10px;
}

.subscribe__title {
  margin: 0 0 35px;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
}

.subscribe__input {
  width: 368px;
}




/*contacts*/
.contacts__map-image {
  width: 1200px;
  height: 430px;
}
.contacts__address {
  position: absolute;
  top: 50px;
  right: 27px;

  width: 300px;
  padding: 25px 25px 30px;

  color: #323232;

  background-color: #fefefe;
  border-radius: 15px;
}

.contacts__text,
.contacts__work-time {
  margin-top: 0;
  margin-bottom: 5px;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.contacts__text--width {
  width: 150px;
}

.contacts__description {
  margin-top: 0;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.contacts__phone {
  color: #323232;
  text-decoration: none;
}

.contacts__work-time {
  margin-bottom: 18px;
}




/*pagination*/
.pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination__link {
  display: block;
  padding: 5px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}

.pagination__link:hover,
.pagination__link:focus-within {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}



/*page-footer*/
.page-footer__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}




/*social-links*/
.social-links__list {
  display: flex;
  flex-direction: row;
  margin: 40px 0 0;
  padding: 0;

  list-style: none;
}

.social-links__item {
  margin-right: 15px;
}

.social-links__link {
  display: block;
  width: 38px;
  height: 38px;

  font-size: 0;

  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid #c1cec7;
  border-radius: 50%;
  opacity: 0.8;
}

.social-links__link:hover,
.social-links__link:focus {
  opacity: 1;
}

.social-links__link:active {
  opacity: 0.8;
}

.social-links__link--twitter {
  background-image: url("../img/twitter.svg");
}

.social-links__link--instagram {
  background-image: url("../img/instagram.svg");
}

.social-links__link--facebook {
  background-image: url("../img/fb.svg");
}

.social-links__link--vkontakte {
  background-image: url("../img/vk.svg");
}




/*footer-nav*/
.footer-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 400px;
  margin: 35px 0 0;
  padding: 0;

  list-style: none;
}

.footer-nav__item {
  min-width: 135px;
  padding-left: 22px;
}

.footer-nav__link {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-nav__link:hover,
.footer-nav__link:focus,
.footer-nav__link:active {
  color: #ffbc9e;
}

.footer-nav__link--favorite {
  position: relative;

  font-weight: 700;
}

.footer-nav__link--favorite::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -22px;

  width: 15px;
  height: 13px;

  background-image: url(../img/heart.svg);
}




/*footer-copyright*/
.footer-copyright {
  margin-top: 18px;
}

.footer-copyright__develop {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #fefefe;
}

.footer-copyright__link {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #fefefe;
  text-decoration: none;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}




/*pop-up-overlay*/
.pop-up-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  display: none;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.3);
}




/*feedback*/
.feedback {
  position: fixed;
  top: 25%;
  left: 36%;

  width: 480px;
  padding: 16px 25px 25px;

  color: #323232;

  background-color: #f8f7f4;
  border-radius: 15px;
}

.feedback__form {
  position: relative;
}

.feedback__title {
  margin: 0 0 20px;

  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.feedback__input {
  width: 265px;
}

.feedback__textarea {
  display: block;
  width: 100%;
  height: 155px;
  margin-bottom: 25px;
}

.feedback__button {
  display: block;
  margin-left: auto;
  padding: 10px 25px;
}

.feedback__close-button {
  position: absolute;
  top: 18px;
  right: 18px;

  width: 18px;
  height: 18px;

  background-color: #f8f7f4;
  background-image: url("../img/cross-big.svg");
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}
